[submodule "lib/dataoperations"]
	path = lib/dataoperations
	url = git@bitbucket.org:josegcpa/dataoperations.git
[submodule "lib/modules/drei"]
	path = lib/modules/drei
	url = git@bitbucket.org:josegcpa/drei.git
[submodule "lib/modules/zwei"]
	path = lib/modules/zwei
	url = git@bitbucket.org:josegcpa/zwei.git
