dvc==2.45.1
einops==0.6.1
lib==4.0.0
lightning==2.0.3
monai==1.1.0
multiprocess==0.70.13
numpy==1.23.5
PyYAML==6.0
scikit_image==0.19.2
scikit_learn==1.2.2
scipy==1.10.1
SimpleITK==2.2.1
torch==1.13.1
torchmetrics==0.11.1
tqdm==4.64.1
wandb==0.13.6
itk-core==5.3.0
picai_eval