torch>=2.3
lightning==2.3.3
monai>1.5.1
numpy==1.23.4
picai_eval==1.4.1
PyYAML==6.0
pydicom==2.4.0
scikit_learn==1.5
scipy==1.11.1
SimpleITK==2.2.1
torchmetrics==0.11.1
tqdm>=4.66.3
einops==0.6.1
scikit-image==0.19.2
wandb==0.13.6
